html, body {
	padding: 0;
	margin: 0;
}

html {
	
}


#main {
	background-image: url("/images/afm_diagram.png");
    background-color: #ffffff;
    background-origin: content-box;
    background-attachment: local;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 100%;
}


div.cell  {
	padding: 0 !important;
	float: left;
	margin:0;
}
div.cell:hover  {
	 
}

#afm {
	max-width: 100%;
}