<!doctype html>
<html lang="en" ng-app="openafm">
<head>
<base href="/">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Open AFM</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<div class="col-xs-12" id="main" ng-controller="MainCtrl as main">
		<div class="row" row ng-repeat="row in rows track by $index">
			<div col ng-repeat="col in cols track by $index" class="cell col-xs-1" id="{{row}}{{col}}">{{row}}{{col}}</div>
		</div>
	</div>
	//todo on-mouseenter on-mouseleave to each div.
	//todo create a map
	<script type="text/javascript" src="scripts/vendors/angular.min.js"></script>
	<script type="text/javascript" src="scripts/vendors/angular-route.min.js"></script>
	<script type="text/javascript" src="scripts/vendors/angular-animate.min.js"></script>
	<script type="text/javascript" src="scripts/vendors/ui-bootstrap-tpls-0.14.2.js"></script>
	<script type="text/javascript" src="scripts/app/openafm.js"></script>
</body>
</html>
