<!doctype html>
<html lang="en" ng-app="openafm">
<head>
<base href="/">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Open AFM</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<div class="" id="main" ng-controller="MainCtrl as main">
		<div row class="" row ng-repeat="row in rows track by $index">
			<div cell ng-click="showInfo(row,col);" ng-repeat="col in cols track by $index" class="cell" id="{{row}}-{{col}}"></div>
		</div>
	</div>
	
	<script type="text/javascript" src="scripts/vendors/angular.min.js"></script>
	<script type="text/javascript" src="scripts/vendors/angular-route.min.js"></script>
	<script type="text/javascript" src="scripts/vendors/angular-animate.min.js"></script>
	<script type="text/javascript" src="scripts/vendors/ui-bootstrap-tpls-0.14.2.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.min.js" type="text/javascript"></script>
	
	<script type="text/javascript" src="scripts/app/openafm.js"></script>
	<script type="text/javascript" src="scripts/app/factories.js"></script>
</body>
</html>
