
<div  ng-controller="NavCtrl" class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">
	<div class="navbar-header">
          <button class="navbar-toggle" type="button" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed"> 
              <span class="sr-only">Toggle Navigation</span>
	      <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button> 
	  <a class="navbar-brand" href="#" style="padding-top: 7px;"><img ng-src="/images/logo_small.png"></a>
	</div>
        <div class="navbar-collapse" uib-collapse="isCollapsed" style="padding-top: 10px;">
            <ul class="nav navbar-nav">
                <li ng-repeat="location in locations" ng-class="{active : location.active}">
			<a ng-click="goTo(location);">
			<img class="nav-icon" ng-src="{{location.icon}}"/> 
		        <span>[&nbsp;{{location.name}}&nbsp;]</span>
			</a>
		</li> 
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/class"><i class="icon-upload icon-white"></i> Upload/Save</a></li>
                <li><a href="#/class"><i class="icon-off icon-white"></i> Save/Logout</a></li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
</div>
